@font-face { font-family: "Poppins-Regular"; src: url("fonts/Poppins-Regular.ttf"); }
@font-face { font-family: "Poppins-Medium"; src: url("fonts/Poppins-Medium.ttf"); }
@font-face { font-family: "Poppins-Bold"; src: url("fonts/Poppins-Bold.ttf"); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Poppins-Regular";
  text-rendering: optimizeLegibility;
  background-color: #e9ecf1;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  height: inherit;
}

.wrapper button {
  width: 90px;
  color: white;
  padding: .3rem .6rem;
  border: none;
  border-radius: .1rem;
  font-family: "Poppins-Medium";
  background-color: #0284c7;
}

.wrapper button:hover {
  background-color: #0284c7;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  background-color: #0f172a;
}

.header .icon {
  color: white;
  font-size: 1.25rem;
  font-family: "Poppins-Medium";
}

.books {
  padding: 1rem .5rem;
}

.books .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  gap: 1rem;
}

.books .book {
  width: 250px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, max-content) 1fr;
  padding: 1rem;
  gap: .5rem;
  overflow: hidden;
  box-shadow: 0 0 10px 0px #0000004f;
  overflow-y: scroll;
  background-color: #0f172a;
}

.books ::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.books .book p {
  color: white;
  word-break: break-all;
}

.book .title {
  text-align: center;
  padding: 1rem;
  font-family: "Poppins-Bold";
}

.book .buttons {
  display: grid;
  gap: 10px;
  align-self: end;
}

.book .buttons .read {
  background-color: #16a34a;
}

.book .buttons .not-read {
  background-color: #dc2626;
}

.book .buttons .delete {
  background-color: #dc2626;
}

.book button {
  align-self: end;
  justify-self: end;
}

.dialog-wrapper:has(dialog[open]) {
  top: 0%;
  left: 0%;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: #000000d0;
}

dialog[open] {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, max-content) 1fr;
  width: 325px;
  height: 325px;
  top: 50%;
  left: 50%;
  position: absolute;
  border: none;
  border-radius: .5rem;
  outline: none;
  transform: translate(-50%, -50%);
}

dialog[open] h3 {
  text-align: center;
  padding: 1rem;
  font-family: "Poppins-Medium";
}

dialog[open] label {
  display: inline-block;
  min-width: 70px;
  font-family: "Poppins-Medium";
}

dialog[open] input[type="text"],
dialog[open] input[type="number"] {
  width: 100%;
  border: .5px solid #73767a;
  border-radius: 2px;
  padding: .3rem 0 .3rem .25rem;
  font-family: inherit;
}

dialog[open] input[type="checkbox"] {
  display: block;
  width: 1rem;
  height: 1rem;
  border: .5px solid #73767a;
  border-radius: 2px;
  position: relative;
  background-color: transparent;
  appearance: none;
}

dialog[open] input[type="checkbox"]:checked::before {
  content: "";
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: .80rem;
  height: .80rem;
  background-color: #0284c7;
}

dialog[open] input:focus,
dialog[open] button:focus-within {
  border: none;
  outline: 1px solid #0284c7;
}

dialog[open] input[type="checkbox"] {
  width: 1.25rem;
  height: 1.25rem;
}

dialog[open] form {
  display: grid;
  padding: 1rem;
  gap: 10px;
}

dialog[open] form button {
  flex: none;
  width: 100px;
  align-self: center;
}

dialog[open] .dialog-row {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  justify-items: left;
  vertical-align: middle;
}

dialog[open] .dialog-row:last-child {
  justify-self: center;
}